@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~bootstrap/dist/css/bootstrap.css';
@import '~formiojs/dist/formio.full.min.css';

/* :root {
  
} */



body {
  margin: 2vw;
}
.btn-primary {
  --bs-btn-color: #000;
}
.btn-secondary {
  --bs-btn-color: #000;
}
